imagename {
    font-size: medium;
    font-weight: bold;
    color: blue;
    text-align: center;
    font-family: cursive;
    
  }
  
  #topic {
    font-size: larger;
    font-weight: bolder;
    color: brown;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }